body {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;

  background-color: #ffffff;
  font-size: 16px;

  background: url("/image/background.jpg") repeat 0 0;
  background-size: 100%;
  background-attachment: fixed;
  color: rgb(0, 174, 255);
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px rgb(127, 240, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
a {
  text-decoration: none;
}

/* Navigation header menu */
.navbar {
  background-color: #332e36;
  position: relative;

  text-shadow: 2px 2px #8906e0;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #8906e0;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
  background-color: rgb(219, 127, 255);
}

/* FOOTER */

.footer {
  margin-top: 70px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: end;
  font-style: normal;
  font-size: medium;
}

.footer-text {
  text-shadow: 2px 2px rgb(127, 240, 255);
  color: black;
}
.contact {
  margin-top: -15px;
  margin-bottom: 0px;
  margin-left: 15px;
  text-align: left;
  font-style: normal;
  font-size: medium;
}
